/* Font imports */
@import url('https://fonts.googleapis.com/css?family=Changa+One|Lilita+One|Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css?family=Cabin+Sketch&display=swap');

html {
  font-size: 62.5%;
}
body {
  font-family: $body-font;
  font-size: $m-size;
  height: 100vh;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

ul {
  padding: 0;
}

input {
  outline: none;
}

button {
  outline: none;
  cursor: pointer;
}

.flex {
  display: flex;
}
