/*$dark-purple: #32176b;
$medium-purple: #6f58c9;
$light-purple: #7e78d2;
$gray: #c3c4dd;
$light-green: #e1f6f0;
$dark: #221b14;*/

$dark: #343c41; /* Dim Gray */
$blue: #809fad; /* Weldon Blue */
$gray: #9eafb2; /* Silver Chalice */
$light-pink: #e8d9d5; /* Queen Pink */
$light: #f4f2ef; /* Isabelline */

$title-font: Montserrat, Helvetica, Arial, sans-serif;
$body-font: Helvetica, Arial, sans-serif;

$title-shadow: 1px 1px 0 darken($blue, 10%);

$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
