.graph-item-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  .loader {
    position: static;
    top: unset;
    left: unset;
  }
  .graph-item__title {
    text-align: center;
  }
  .graph-item {
    display: block;
    background-color: #ffffff;
    padding: $s-size;
    border: 1px solid $gray;
  }
}
