.legend-choropleth {
  .legend-title {
    display: block;
    font-weight: 300;
  }

  .legend-choropleth-graphic {
    max-width: 240px;
    border: 1px solid gray;
    height: 10px;
  }

  .legend-choropleth-label {
    display: flex;
    justify-content: space-between;

    .legend-choropleth-label__item {
      font-size: $s-size;
    }
  }
}
