.map-filters-container {
  width: 100%;

  .block-title {
    font-size: $m-size;
  }

  .map-filter-input {
    width: 100%;
    color: #343c41;
    font-size: 1.6rem;
    font-weight: bold;
    border: 2px solid #809fad;
    height: 4rem;
  }

  .map-filters-description {
    font-size: $s-size;
    line-height: $m-size;
    color: darken($gray, 10%);
  }
}
