.map-filters-container {
  width: 100%;

  .map-filters {
    margin-left: 1rem;
    list-style-type: none;

    .map-filter__item {
      line-height: 1.75em;
      display: flex;
      flex-direction: row;
      align-items: baseline;
      color: darken($dark, 2%);

      .map-filter__item-checkbox {
        margin-right: 0.6rem;
      }
    }
  }
}
