.sidebar {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 2vh;
  left: 1vw;
  max-width: 250px;
  max-height: 50vh;
  border: 2px solid $gray;
  padding: $m-size;
  background-color: $light;
  z-index: 100;

  .block-title {
    font-weight: 600;
    font-family: $title-font;
  }
}
